* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    padding: 21.84px 0;
}

.container1 {
    width: calc(100% - 330px);
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    text-decoration-line: none;
    color: #3A3845;
}

ul {
    list-style: none;
}

.menu ul {
    display: flex;
    gap: 60px;
}

.icons ul {
    display: flex;
    gap: 24px;
}

.lines {
    display: none;
}

.sliderPhoto {
    display: none;
    width: 100%;
}

.slider {
    background-image: url(images/slider.webp);
    background-size: cover;
    background-position: center;
    width: 100%;
}

.container2 {
    width: 100%;
    margin: auto;
}

.brownSpace {
    width: 420px;
    margin-left: 165px;
    background-color: #826F66;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 42px;
    padding: 170.59px 73.5px;
}

.text p {
    text-align: center;
    color: white;
}

.text h2 {
    text-align: center;
    color: white;
    font-weight: bold;
    margin-top: 20px;
    padding: 0 14px;
}

.button a {
    text-decoration-line: none;
    color: #826F66;
}

.button {
    background-color: white;
    padding: 15px 71px;
    border: none;
    text-align: center;
}

.brownSpace2 {
    display: none;
}

.collections {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 80px 0;
}

.collection {
    text-align: center;
    width: calc((100% - 90px) / 4);
    color: #3A3845;
}

.collection img {
    width: 100%;
    margin-bottom: 23px;
}

.off {
    width: 1110px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;

}

.leftSide {
    width: 50%;
    padding: 64px 60px;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    background-color: #F7F6F5;
    text-align: center;
    color: #3A3845;
}

.leftSide p {
    margin: 24px 0 32px 0;
}

.rightSide {
    width: 50%;
}

.rightSide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.leftSide a {
    text-decoration-line: underline;
    color: #3A3845;
    font: bold;
}

.bestSellers {
    padding: 80px 0;
    width: 1110px;
    color: #3A3845;
}

.bestSellers h2 {
    text-align: center;
    margin-bottom: 48px;
}

.items {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.item {
    width: calc((100% - 90px) / 4);
    color: #3A3845;
}
.item h4{
    width: 100%;
    padding: 24px 0;
}

.item p{
    width: 100%;
    padding-bottom: 58px;
    color: #6D758F;
}

.item img{
    width: 100%;
}

.item .add{
    width: 100%;
    padding: 15px 0;
    border-color: #19213D;
    color: #19213D;
    border-radius: 0;
    border-style: solid;
    background-color: white;
    text-align: center;
    cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 999px) {
    .menu {
        display: none;
    }

    .hideenIcons {
        display: none;
    }

    .container1 {
        width: calc(100% - 40px);
        margin: auto;
    }

    .lines {
        display: block;
    }
}

@media screen and (min-width: 600px) and (max-width: 999px) {
    .collection {
        width: calc((100% - 30px) / 2);
    }

    .leftSide {
        width: 100%;
        padding: 50px 20px;
    }

    .rightSide {
        width: 100%;
    }
}

@media screen and (min-width: 600px) and (max-width: 950px) {
    .bestSellers {
        padding: 40px 0;
    }

    .item{
        width: calc((100% - 30px) / 2);
    }
}

@media screen and (min-width: 320px) and (max-width: 599px) {

    .collections {
        padding: 30px;
    }

    .collection {
        width: 100%;
    }

    .leftSide {
        width: 100%;
        padding: 50px 20px;
    }

    .rightSide {
        width: 100%;
    }

    .bestSellers {
        padding: 40px 0;
    }

    .item{
        width: 100%;
    }
}

@media screen and (min-width: 320px) and (max-width: 430px) {
    .slider {
        display: none;
    }

    .sliderPhoto {
        display: block;
        background-size: cover;
        background-position: center;
        width: 100%;
    }

    .brownSpace2 {
        display: block;
        width: 100%;
        background-color: #826F66;
        background-image: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        flex-direction: column;
        gap: 30px;
        padding: 74.21px 78.5px;
    }
}

@media screen and (min-width: 431px) and (max-width: 730px) {
    .brownSpace {
        display: none;
    }

    .sliderPhoto {
        display: none;
    }

    .brownSpace2 {
        display: block;
        width: 100%;
        background-color: #826F66;
        background-image: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        flex-direction: column;
        gap: 30px;
        padding: 74.21px 78.5px;
    }
}